/*
 * Theme CSS
 */

/*
 * Nav
 */

.uk-nav {}

.uk-active {}

.uk-parent {}

.uk-nav-sub {}

/*
 * Page and Posts
 */

.uk-article {}

.uk-article-title {}

.uk-article-meta{}

/*
 * Subnav
 */

.uk-subnav {}

/*
 * Pagination
 */

.uk-pagination {}

.uk-pagination-previous {}

.uk-pagination-next {}

/*
 * Comment
 */

.uk-comment-list {}

.uk-comment {}

.uk-comment-header {}

.uk-comment-avatar {}

.uk-comment-title {}

.uk-comment-meta {}

.uk-comment-meta {}

.uk-comment-body {}

/*
 * Form
 */

.uk-form {}

.uk-form-stacked {}

.uk-form-row {}

.uk-form-label {}

.uk-form-controls {}

.uk-form-width-medium {}

.uk-form-width-large {}

.uk-form-help-block

/*
 * Button
 */

.uk-button {}

.uk-button-primary {}

/*
 * Utility
 */

.uk-width-1-1 {}

.uk-margin {}

.uk-margin-large {}

.uk-h4 {}

.uk-text-danger {}

.uk-link-muted {}

.uk-display-block{}


/* PORTFOLIO STYLES */
#contactModal textarea#contactMessage {
    min-height: 15rem;
}
body {
    font-family: "Open Sans", sans-serif;
    color: black;
}
#sam-portfolio-sidebar {
	max-width: 90%;
    background: #151515;;
    margin: 100px auto;
    text-align: center;
}
#sam-portfolio-sidebar > div > div > div {
    max-width: 45%;
    margin: 15px 1%;
    display: inline-block;
    padding: 25px 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../../../storage/contact-bg.jpg);
    min-height: 500px;
    vertical-align: top;
}

@media only screen and (max-width: 428px) {
    section {
        /* margin-top:100px; */
    }
    #sam-portfolio-sidebar > div > div > div {
        max-width: 90%;
    }
    div#cta > div {
        text-align: center;
        /* display: block; */
        width: 90%;
    }
    .project-content {
        width:95% !important;
    }
}
#sam-portfolio-sidebar h3.uk-h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #33a998;
    margin-top: 10px;
    margin-bottom: 0;
}

#sam-portfolio-sidebar a.uk-button, .sam-posts-grid-item a.uk-button {
    position: relative;
    top: 15px;
    /* right: 0; */
    color: #FFFFFF;
    background: #33a998;
    border-color: #33a998;
    padding: 10px 20px;
    /* margin: 35px 0; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .4rem);
}
div#sam-portfolio-home {
    position: relative;
    top: -250px;
}
.col-full > div {
    text-align: center;
}
.sam-button {
    position: relative;
    top: 25px;
    /* right: 0; */
    color: #FFFFFF;
    background: #33a998;
    border-color: #33a998;
    padding: 20px 30px;
    /* margin: 35px 0; */
    font-family: "montserrat-medium", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .4rem);
}
a.sam-button:hover {
    color: #FFFFFF;
}
#contactModal .icon-circle-left {
    font-size: 3rem;
    padding-top: 20px;
}
#contactModal .icon-circle-left:hover {
    color:white;
}
@media only screen and (max-width: 428px) {
    .col-full > div > a:not(:last-child) {
    display: none;
    }
    #contactModal h1.display-2.display-2--light {
        display:none;
        }
        #contactModal h3.h6 {
            /* margin-bottom: 0px; */
            display: none;
        }
        #contactModal .row.contact-content {
            padding-top: 0px;
        }
}
#sam-footer >div > h3 {
    display: none;
}
article#portfolio-project {
    text-align: center;
    max-width: 90%;
    margin: 10% auto;
    padding: 50px 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../../../storage/contact-bg.jpg);
    color: black;
}
article#portfolio-project > h1 {
    color: white;
}
#contactModal {
    position: absolute;
    left: -2000px;
    top: 0;
    z-index: 1110;
}
@media (min-width: 768px) {
.modal-dialog {
    width: 850px;
}
}
#contactModal section#contact {
    padding-top: 25px;
}
#contactModal h1.display-2.display-2--light {
    font-size: 2em;
}
h3.display-2.display-2--light.cta {
    font-size: 4rem;
    text-align: center;
}
div#cta > div {
    text-align: center;
}

.project-content {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    padding: 15px 5px 0px 5px;
    border-radius: 15px;
}
img.uk-overlay-scale {
    box-shadow: 0px 0px 2px grey;
}
a.samz-button {
    position: relative;
    top: 15px;
    /* right: 0; */
    color: #FFFFFF;
    background: #33a998;
    border-color: #33a998;
    padding: 10px 20px;
    /* margin: 35px 0; */
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .4rem);
}
a.samz-button:hover {
    color: #FFFFFF;
}
ul.uk-pagination {
    list-style: none;
}
ul.uk-pagination li {
    display: inline-block;
}
li.uk-pagination-previous a.samz-button:hover {
    color: white;
    margin-right: 35px;
}
li.uk-pagination-next a.samz-button:hover {
    color: white;
    margin-left: 35px;
}


/************** BLOG *******************/
article.uk-article.sam-single-post {
    max-width: 1100px;
    margin: auto;
    margin-top: 80px;
    background: white;
    padding: 10px 30px;
}
.sam-single-post p {
    font-size: 2rem;
}
.sam-single-post img {
    margin-bottom: 30px;
}
article.uk-article.sam-posts-grid-item {
    max-width: 45%;
    margin: 15px 1%;
    display: inline-block;
    padding: 25px 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../../../../storage/contact-bg.jpg);
    min-height: 500px;
    vertical-align: top;
}
@media only screen and (max-width:515px){
    article.uk-article.sam-posts-grid-item {
        max-width: unset !important;
    }
    #share-buttons-post-top a img {
        max-width: 40px;
    }
}
.sam-posts-grid-container {
    padding-top: 80px;
    text-align: center;
}
div#share-buttons-post-top {
    max-width: 600px;
    display: inline;
    padding-top: 15px;
}
.uk-article-meta {
    max-width: 50%;
    display: inline;
}
.uk-margin {
    margin-top: 30px;
}
#share-buttons-grid a img {
    max-width: 40px;
}
.tm-background {
    background: #74b3e7 url(../img/crocus.jpg) 50% 50% no-repeat;
    background-size: cover;
}

/*** SAM BENCHMARK FORM **/
#formmaker-form {
    max-width: 760px;
    margin: auto;
    color: white;
}
.contact-benchmark .message-success, .contact-benchmark .message-warning {
    text-align: center;
    font-size: 2em;
}
